################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureActiveDirectory
/AzureActiveDirectory/bin/Debug
/AzureActiveDirectory/obj/Debug
/EFCoreDemoDAL/bin/Debug/netcoreapp3.1
/EFCoreDemoDAL/obj
