################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureActiveDirectory
/AzureActiveDirectory/bin/Debug
/AzureActiveDirectory/obj/Debug
